<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h2>Cadastro</h2>
    <form>
        <label for="name">Nome do Aluno:</label>
        <input type="text" name="name" required>
        <label for="year">Idade</label>
        <input type="text" name="year" required>
        <label for="matricula">Matrícula</label>
        <input type="text" name="matricula" required>
        <button type="submit" value="Cadastrar">Cadastrar</button>
    </form>
</body>
</html>